@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;  /* adding padding or border does not affect height or width */
}

body {
    font-family: 'roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    /* direção coluna o align-itens alinha na horizontal */
    /* para o justify funcionar tem que estabelecer uma altura */
    height: 100vh;
    justify-content: center;
    /* nao mostrar reguas*/
    overflow: hidden;
    margin: 0;
}

